<ion-header>

  <ion-navbar>
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Get Zip by City</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
<div>
<label class="item item-input">Enter City
  <i class="icon ion-search placeholder-icon"></i>
  <input type="search" placeholder="City" [(ngModel)]="cityEntry" name="txtCity" id="txtCity">
</label>
  <br/>
  <div >
  <ion-list class="dropdown">Select State
    <ion-item>
    <ion-select [(ngModel)]="stateEntry">
      <ion-option *ngFor="let eachstate of states"
      value="{{eachstate.code}}">{{eachstate.name}}</ion-option>      
    </ion-select>
  </ion-item>
</ion-list>
  </div>
<button ion-button (click)="citySearch(txtCity,txtState)">
  City Search
</button>
</div>
<br/>
<div  *ngIf="zipRecords">
  <label class="ion-header">List of matching Zip codes for {{cityEntry}}, {{stateEntry}}</label>
<ion-list >
  <ion-item *ngFor="let zipItem of zipRecords" >
    <a target="_blank" href="http://maps.google.com/?q={{cityEntry}},%20{{stateEntry}},%20{{zipItem}}">{{zipItem}}</a>
  </ion-item>
</ion-list >
</div>
</ion-content>
